.main-banner {
  height: 300px;
  background-image: url('./img/bg.png');
  background-size: cover;
  background-position: center;
}

.book-container {
  text-align: center;
}
.book-img {
  width: 10rem;
}

.book-img,
.book-name {
  cursor: pointer;
}
